# python
*.xopp
*.pdf
*.pkl
*.png
*.zip
__pycache__/
fem_project.egg-info/
venv/

# C++ build files
build/
bin/

# vscode settings
.vscode/
Times__*.txt
fem2d_skript.msh
uebungen/klausuren/WS1819/LoesungWS1819
uebungen/klausuren/WS1920/LoesungWS1920
uebungen/klausuren/WS1920/Loesung_FEM_WS1920
*.msh
uebungen/klausuren/WS1920/Klausur_WS1920_netz.npz
uebungen/TestGroups.brep
uebungen/klausuren/WS1920/to_momo_sol_noRW.dat
